<div class="row">
    <div class="col">
        <div class="topnav" id="topnav">
            <a href="https://qr-experiment.web.app/home/{{uid}}/{{location}}">Home</a>
            <a href="https://qr-experiment.web.app/visualisation/{{uid}}/{{location}}">Test</a>
            {{#if secretPage}}
                <a class="active" href="https://qr-experiment.web.app/secretHomePage/{{uid}}/{{location}}">Nou</a>
            {{/if}}
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="contentWrapper">
            <h3>Felicitări!</h3>
            <p>Ai găsit toate codurile din {{location}}. Dacă ai ceva de spus, ceva feedback atât despre codurile acestea sau site-ul propriu zis, dă-mi un email la andrei.cosmin.grasu@gmail.com.</p>
            <p style="color: #B4C292;">Nu, nici acum nu e nici un indiciu sau secret aici. Nu mai căuta. Cel puțin nu azi. Pleacă. Pa.</p>
        </div>
            <p style="color: #736F4E;">Nu, nici acum nu e nici un indiciu sau secret aici. Nu mai căuta. Cel puțin nu azi. Pleacă. Pa.</p>
    </div>
</div>