<div class="row">
    <div class="col">
        <div class="topnav" id="topnav">
            <a class="active" href="https://qr-experiment.web.app/home/{{uid}}/{{location}}">Home</a>
            <a href="https://qr-experiment.web.app/visualisation/{{uid}}/{{location}}">Date Mesaje</a>
            {{#if secretPage}}
                <a href="https://qr-experiment.web.app/secretHomePage/{{uid}}/{{location}}">Pagina secretă (wooow, ce cringe)</a>
            {{/if}}
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="contentWrapper">
            <h3>Home</h3>

            <p>Dacă te întrebi ce e asta, pur și simplu mă plictiseam și m-am întrebat câți oameni ar deschide de fapt un cod QR gasit la întâmplare. Apoi am vrut să văd câtă lume ar căuta și altele.</p>

            <p style="color: #B4C292;">Nu, nu e nici un indiciu sau secret aici.</p>
        </div>
            <p style="color: #736F4E;">Nu, nu e nici un indiciu sau secret aici.</p>
    </div>
</div>